body {
    font-family: Arial, sans-serif;
}

.hero {
    background: linear-gradient(0deg, #007bff75, #011d3c); 
}

#container_2 {
    background-color: dark;
    padding: 20px;
    border-radius: 10px;
  }

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
